!!! 5
%html
  %head
    %title= "¿Cuándo es Quincena?"
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"flipclock.css", :rel=>"stylesheet"}

    :css
      @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
      body{ font-family: 'Source Sans Pro', sans-serif; }
      .red{ color: red; }
      .orange{ color: orange; }
      .yellow{ color: yellow; }
      .green{ color: green; }
      .days-left{ font-size: 67px; }
      .yesno{ font-size: 80px; }
      .next-pay-date .days-left{font-size: 12px; }
      .si{
        font-size: 120px;
        text-align: center;
      }
      #Stage_jbeeb_3{
        float: none;
        margin-left: 12% !important;;
        margin-right: auto;}
      #clock{ zoom: 0.7; }
      #clock {
          width: 90%;

          margin: 0 auto;
       }
          /* Custom, iPhone Retina */
      @media only screen and (min-width : 320px) {
        #clock{ zoom: 0.5; }
      }

  %body
    %a{:href => "https://github.com/netmask/cuandoesquincena"}
      %img{:alt => "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :src => "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
    .container
      .row
        .col-md-3
        .col-md-6
          %h2.text-center
            ¿Hoy es Quincena?
          %h1.text-center.yesno
            - if @quincena.silly
              %h3.si{style:"font-size: 68px"}
                = silly_message
            - else
              = @quincena.is_today? ? "<h1 class='si'>SI!!</h1>" : "NO!!"
        .col-md-2
      .row.center-block
        .col-md-2
        .col-md-6
          - if @quincena.is_today?
            = quincena_animation[rand(0..1)]
        .col-md-5
      .row.center-block
        .col-md-2
        .col-md-2
        .col-md-5.center-block
          - unless @quincena.is_today?
            #clock.text-center.center.center-block
        .col-md-2
      .row
        .col-md-3
        .col-md-6
          %h4.text-center
            Esta quincena tiene
            %strong
              = @quincena.weekends_left
            Fines de semana
        .col-md-2
      .row
        .col-md-3
        .col-md-6
          %h4.text-center
            La siguiente quincena es el
            = I18n.l @quincena.next_pay_date, format: :human
        .col-md-2
      .row
        .col-md-3
        .col-md-6.text-center.center-block
          .text-center.center-block
            Agrega a tu
            %a{href: '/quincenas.ics'}
              calendario
        .col-md-2
      .row
        .col-md-3.text-center.center-block
        .col-md-6
          %h6.text-center.center-block
            Próximas quincenas:
            %select.form-control{multiple:true}
              - @year_quincenas.each do |quincena|
                .next-pay-date
                  = class_for_times quincena
        .col-md-2
      .row
        .col-md-3.text-center.center-block
        .col-md-6.text-center.center-block
          %code.text-center.center-block
            curl http://cuandoesquincena.com/api
        .col-md-2

    %footer.text-center
      %p
        Copyright 2015 devmask
    %script{:crossorigin => "anonymous", :integrity => "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", :src => "https://code.jquery.com/jquery-2.2.3.min.js"}
    %script{:src => "flipclock.min.js"}
    :javascript
      var clock = new FlipClock($('#clock'), {
          clockFace: 'DailyCounter',
          countdown: true,
          language:'es-es',
      });
      clock.setTime("#{@quincena.seconds_until}");
      clock.start();
